In [54]:
import pandas as pd

In [55]:
df=pd.read_csv('manual_match_id.csv')
df.shape

(54817, 6)

In [58]:
df=df.drop_duplicates('match_id')
df

,match_id,start_time,win,hero_id,account_id,leaguename
0,1678564305,1438446628,True,42,34505203,joinDOTA MLG Pro League Season 2
2,1678701636,1438450185,True,90,89117038,joinDOTA MLG Pro League Season 2
4,1684227514,1438626716,True,12,108382060,The International 2015
9,1684334726,1438631382,False,77,108382060,The International 2015
14,1684419960,1438635449,True,72,108382060,The International 2015
19,1684521403,1438641099,True,72,130416036,The International 2015
24,1684571786,1438644485,True,30,140153524,The International 2015
29,1684715899,1438653510,True,8,87012746,The International 2015
30,1684809000,1438658562,True,7,113800818,The International 2015
33,1684903975,1438663791,False,89,89871557,The International 2015
34,1685000902,1438668087,True,50,82327674,The International 2015
36,1686604927,1438711799,True,25,111620041,The International 2015
41,1686838227,1438720866,True,106,111620041,The International 2015
46,1686931489,1438725370,True,112,114239371,The International 2015
54,1687000541,1438729857,True,86,114239371,The International 2015
62,1687063262,1438734381,False,15,89269794,The International 2015
66,1687118078,1438737799,False,1,89269794,The International 2015
70,1687199442,1438742271,True,86,101695162,The International 2015
76,1687304352,1438748080,True,7,113800818,The International 2015
82,1689080648,1438797429,True,112,94155156,The International 2015
83,1689199207,1438801961,False,112,94155156,The International 2015
84,1689326808,1438807357,False,25,94155156,The International 2015
85,1689417916,1438812067,False,66,87278757,The International 2015
91,1689486729,1438816817,False,50,82327674,The International 2015
97,1689526977,1438819718,False,68,82327674,The International 2015
103,1689593268,1438824139,False,11,106863163,The International 2015
107,1689659635,1438827771,False,106,106863163,The International 2015
111,1689744737,1438831917,True,86,89423756,The International 2015
118,1689812780,1438835256,False,30,114239371,The International 2015
125,1689893744,1438838887,False,112,114239371,The International 2015
...,...,...,...,...,...,...
54517,4070356125,1534788520,False,63,87285329,The International 2018
54527,4070423361,1534791992,False,5,86727555,The International 2018
54537,4070500759,1534796227,True,20,101695162,The International 2018
54547,4070556816,1534800190,True,100,101695162,The International 2018
54557,4070612749,1534804707,False,70,43276219,The International 2018
54567,4070674710,1534810174,False,107,155494381,The International 2018
54577,4070746269,1534815802,True,51,130801103,The International 2018
54587,4070838238,1534821698,False,21,182331313,The International 2018
54597,4072252473,1534873367,True,112,88271237,The International 2018
54607,4072354014,1534878322,True,95,311360822,The International 2018
54617,4072441405,1534883048,True,73,111620041,The International 2018
54627,4072509593,1534887572,False,86,89117038,The International 2018
54637,4072586507,1534894099,False,106,124936122,The International 2018
54647,4072635180,1534898196,True,73,221666230,The International 2018
54657,4072699199,1534902846,True,56,132851371,The International 2018
54667,4072772695,1534907661,False,17,113457795,The International 2018
54677,4074178274,1534959427,False,77,89269794,The International 2018
54687,4074255285,1534963179,False,96,130801103,The International 2018
54697,4074356696,1534968491,False,106,116585378,The International 2018
54707,4074440208,1534973895,True,20,89117038,The International 2018
54717,4074486307,1534977517,False,56,137193239,The International 2018
54727,4074591870,1534986664,True,19,94738847,The International 2018
54737,4074639753,1534990401,True,12,125581247,The International 2018
54747,4074694505,1534994296,True,6,311360822,The International 2018
54757,4074748928,1534997864,False,70,88271237,The International 2018
54767,4074821374,1535002214,True,96,88271237,The International 2018
54777,4076043995,1535046106,True,56,87285329,The International 2018
54787,4076114893,1535049678,False,6,87285329,The International 2018
54797,4076188379,1535053843,False,56,87285329,The International 2018
54807,4076257095,1535058023,True,56,116585378,The International 2018

In [62]:

df.drop(df.iloc[:, 1:5], inplace=True, axis=1)

In [63]:
df

         match_id
0      1678564305
2      1678701636
4      1684227514
9      1684334726
14     1684419960
19     1684521403
24     1684571786
29     1684715899
30     1684809000
33     1684903975
34     1685000902
36     1686604927
41     1686838227
46     1686931489
54     1687000541
62     1687063262
66     1687118078
70     1687199442
76     1687304352
82     1689080648
83     1689199207
84     1689326808
85     1689417916
91     1689486729
97     1689526977
103    1689593268
107    1689659635
111    1689744737
118    1689812780
125    1689893744
...           ...
54517  4070356125
54527  4070423361
54537  4070500759
54547  4070556816
54557  4070612749
54567  4070674710
54577  4070746269
54587  4070838238
54597  4072252473
54607  4072354014
54617  4072441405
54627  4072509593
54637  4072586507
54647  4072635180
54657  4072699199
54667  4072772695
54677  4074178274
54687  4074255285
54697  4074356696
54707  4074440208
54717  4074486307
54727  4074591870
54737  4074639753
54747  4074694505
54757  4074748928
54767  4074821374
54777  4076043995
54787  4076114893
54797  4076188379
54807  4076257095

[15703 rows x 1 columns]

In [64]:
df.to_csv("match_ids.csv", index = False)

         match_id
0      1678564305
2      1678701636
4      1684227514
9      1684334726
14     1684419960
19     1684521403
24     1684571786
29     1684715899
30     1684809000
33     1684903975
34     1685000902
36     1686604927
41     1686838227
46     1686931489
54     1687000541
62     1687063262
66     1687118078
70     1687199442
76     1687304352
82     1689080648
83     1689199207
84     1689326808
85     1689417916
91     1689486729
97     1689526977
103    1689593268
107    1689659635
111    1689744737
118    1689812780
125    1689893744
...           ...
54517  4070356125
54527  4070423361
54537  4070500759
54547  4070556816
54557  4070612749
54567  4070674710
54577  4070746269
54587  4070838238
54597  4072252473
54607  4072354014
54617  4072441405
54627  4072509593
54637  4072586507
54647  4072635180
54657  4072699199
54667  4072772695
54677  4074178274
54687  4074255285
54697  4074356696
54707  4074440208
54717  4074486307
54727  4074591870
54737  4074639753
54747  4074694505
54757  4074748928
54767  4074821374
54777  4076043995
54787  4076114893
54797  4076188379
54807  4076257095

[15703 rows x 1 columns]