In [ ]:
import dota2api
import pprint
import pandas as pd
import numpy as np

pd.set_option('display.expand_frame_repr', False)

api = dota2api.Initialise("B335AEF628EF2F2D2DC5A94BA4A02ED9")

matches_data = pd.read_csv("data/PremiumGames.csv")
matches_data=matches_data.head(100)

dict_info = {'Team_ID': [np.nan], 'Team_name': [np.nan]}
match_info = pd.DataFrame(dict_info)

for i in range(1, len(matches_data)): 
    try:
        current_match = matches_data['match_id'][i]
        print(current_match)
        match = api.get_match_details(match_id = current_match)

        try:
            radiant_current = match['radiant_team_id']
        except:
            radiant_current = ""

        try:
            radiant_name = match['radiant_name']
        except:
            radiant_name = ""

        temp_info1 = {'Team_ID': radiant_current, 'Team_name': radiant_name}
        match_info = match_info.append(temp_info1, ignore_index=True)

        try:
            dire_current = match['dire_team_id']
        except:
            dire_current = ""

        try:
            dire_name = match['dire_name']
        except:
            dire_name = ""

        temp_info2 = {'Team_ID': dire_current, 'Team_name': dire_name}
        match_info = match_info.append(temp_info2, ignore_index=True)

    except:
        print("Did not Work")
        

match_info = match_info.dropna()
match_info_nodups = match_info.drop_duplicates()
match_info_nodups.to_csv("data/match_info_data.csv", index=False)

4061660411
4061660411
4061660411
4061660411
4061660411
4061660411
4061660411
4061660411
Did not Work
4061660411
4061662358
4061662358
4061662358
4061662358
4061662358
4061662358
4061662358
4061662358
4061662358
4061662358
Did not Work
4061671194
4061671194
4061671194
4061671194
4061671194
4061671194
4061671194
4061671194
4061671194
4061671194
4061694810
4061694810
4061694810
4061694810
4061694810
4061694810
4061694810
4061694810
4061694810
4061694810
4061721528
4061721528
4061721528
4061721528
4061721528
Did not Work
4061721528
4061721528
4061721528
4061721528
4061721528
4061742840
4061742840
4061742840
4061742840
4061742840
4061742840
4061742840
4061742840
4061742840
4061742840
4061745637
4061745637
4061745637
4061745637
4061745637
4061745637
4061745637
4061745637
4061745637
4061745637
4061766981
4061766981
4061766981
4061766981
4061766981
4061766981
4061766981
4061766981
4061766981
4061766981
4061802430
4061802430
4061802430
4061802430
4061802430
4061802430
4061802430

In [3]:
screenshot=pd.read_csv("data/match_info_data.csv")

In [2]:
import pandas as pd

In [4]:
screenshot

      Team_ID        Team_name
0    350190.0           Fnatic
1      2163.0      Team Liquid
2        39.0    Evil Geniuses
3   5027210.0      VGJ Thunder
4   2586976.0               OG
5        15.0          PSG.LGD
6    543897.0          Mineski
7         5.0  Invictus Gaming
8   5026801.0     OpTic Gaming
9   1883502.0       Virtus.pro
10  5228654.0        VGJ Storm
11   726228.0      Vici Gaming