In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('data/tournament_matches.csv')
df.shape

(390, 6)

In [5]:
df=df.drop_duplicates('match_id')
df.drop(df.iloc[:, 1:6], inplace=True, axis=1)
df.to_csv("data/tournament_match_ids.csv", index = False)

In [6]:
df

       match_id
0    4072252473
10   4072354014
20   4072441405
30   4072509593
40   4072586507
50   4072635180
60   4072699199
70   4072772695
80   4074178274
90   4074255285
100  4074356696
110  4074440208
120  4074486307
130  4074591870
140  4074639753
150  4074694505
160  4074748928
170  4074821374
180  4076043995
190  4076114893
200  4076188379
210  4076257095
220  4076314248
230  4076431752
240  4076485641
250  4078079157
260  4078180258
270  4078291886
280  4078363316
290  4078412913
300  4078478649
310  4078566725
320  4080316101
330  4080420268
340  4080601137
350  4080666526
360  4080723031
370  4080778303
380  4080856812